.two {
  height: 70vh;
  background: $bg-secondary;
  background-image: url('../../../site/images/Phone.png'),
                    url('../../../site/images/shadow-.png');
  background-repeat: no-repeat;
  background-position: center -200%;
}