.two {
  height: 70vh;
  background: $bg-secondary;
  background-image: url('../../../site/images/Phone.png'),
                    url('../../../site/images/shadow-.png');
  background-repeat: no-repeat;
  background-position: center -205%;
  padding-left: 13.125rem;
  padding-right: 13.125rem;
}

.col {
  padding-top: 6.375rem;
  padding-left: 6.375rem;
  width: 50vw;
  align-content: center;
}

h2 {
  font-size: 2.1875rem;
  padding-bottom: 1.125rem;
  color: $darker-grey;
}

.two p {
  max-width: 34.375rem;
}

p {
  font-size: 1rem;
  font-family: $font-secondary;
  line-height: 1.8125rem;
  padding-bottom: 1.8125rem;
  color: $greyer;
}