.one {
  justify-content: center;
  padding-top: 2.1875rem;
  flex-direction: column;
  padding-bottom: 6.4375rem;
}

.cta-group {
  text-align: center;
}

.one .cta-secondary {
  margin-right: 1.3125rem;
}

.cta-secondary {
  background: $bg-primary;
}

.cta-secondary:hover {
  background: $cta-secondary-lighten;
}

.cta-tertiary {
  color: $cta-tertiary;
  border: 2px solid;
  transition: $cta-hover, $link-hover;
}

.cta-tertiary:hover {
  background: $cta-tertiary;
  color: $white;
}

.center-section-content {
  text-align: center;
  padding-top: 4.125rem;
  flex-direction: column;
  align-items: center;
}

.center-section-content h2 {
  font-size: 2.1875rem;
  padding-bottom: 1.9375rem;
}

.one .center-section-content h2 {
  color: $primary-headline-color;
}

.center-section-content p {
  max-width: 58.4375rem;
  line-height: 2.0625rem;
}

.one .center-section-content p {
  font-family: $other-font;
  color: $primary-copy-color;
  font-size: 1.25rem;
}