// Variables go here

// Font Stacks
$font-primary: 'Sintony', sans-serif;
$font-secondary: 'Sintony', sans-serif;
$other-font: 'Source Code Pro', sans-serif;

// Font Weights
$normal: 400;
$bold: 700;

// Colors
$btn-primary-color: #4cdadd;
$btn-secondary-color: #b39edc;
$bg-primary: #9178c1;
$bg-secondary: #f6f6f4;
$muted: #e2d9f3;
$white: #fff;
$green: #44c5c7;
$grey: #b7bfc5;
$greyer: #abb4bb;
